<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thermostat UI</title>
  </head>
  <body>
    <h1>Thermostat UI</h1>

    <form action="/increment_desired_temperature" method="post">
      <button type="submit">+</button>
    </form>
    <p>
      Set room to:
      <span id="desiredTemperature">{{ desired_temperature }}</span> °C
    </p>
    <form action="/decrement_desired_temperature" method="post">
      <button type="submit">-</button>
    </form>

    <hr />

    <h2>Vent State</h2>
    <p>Battery Level: {{ vent_battery_level }}%</p>
    <p>Open State: {{ vent_open_state }}%</p>
    <p>Current Temperature: {{ vent_current_temperature }} °C</p>
  </body>
</html>
