<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='ventech_logo.png') }}"
    />
    <title>Ventech Thermostat</title>
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="title">Your Home</h1>
        <div class="room-grid">
          <a href="/living_room" class="room">
            <h2 class="name">Living Room</h2>
            <p class="temperature">{{ current_temperature }}°</p>
            {% if desired_temperature < current_temperature %}
            <p class="description cooling">
              Cooling to {{ desired_temperature }}°
            </p>
            {% elif desired_temperature == current_temperature %}
            <p class="description">Set to {{ desired_temperature }}°</p>
            {% else %}
            <p class="description heating">
              Heating to {{ desired_temperature }}°
            </p>
            {% endif %}
          </a>
          <a class="room">
            <h2 class="name">Dining Room</h2>
            <p class="temperature">18°</p>
            <p class="description">Set to 18°</p>
          </a>
          <a class="room">
            <h2 class="name">Bedroom 1</h2>
            <p class="temperature">19°</p>
            <p class="description">Set to 18°</p>
          </a>
          <a class="room">
            <h2 class="name">Bedroom 2</h2>
            <p class="temperature">23°</p>
            <p class="description heating">Heating to 26°</p>
          </a>
          <a class="room">
            <h2 class="name">Kitchen</h2>
            <p class="temperature">18°</p>
            <p class="description cooling">Cooling to 17°</p>
          </a>
          <a class="room">
            <h2 class="name">Bathroom</h2>
            <p class="temperature">19°</p>
            <p class="description">Set to 18°</p>
          </a>
        </div>
      </div>
      <img
        src="{{ url_for('static', filename='ventech_wordmark.png') }}"
        alt="Ventech Logo"
        class="ventech_logo"
      />
    </div>
  </body>
</html>
