<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='ventech_logo.png') }}"
    />
    <title>Ventech Thermostat | Living Room</title>
    <script>
      function updateTemperature() {
        fetch("/get_current_temperature")
          .then((response) => response.json())
          .then((data) => {
            // Update the current temperature on the UI
            document.querySelector(".current_temperature").innerText =
              data.current_temperature + "°";
            document.querySelector(".set_temperature").innerText =
              data.desired_temperature + "°";
          })
          .catch((error) =>
            console.error("Error fetching temperature:", error)
          );
      }
      // Update temperature every second
      setInterval(updateTemperature, 100);
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/">
          <img
            src="{{ url_for('static', filename='arrow_left.svg') }}"
            width="32px"
            class="icon arrow"
          />
        </a>
        <div class="info">
          <h2>Living Room</h2>

          <div class="battery-info">
            <img
              src="{{ url_for('static', filename='battery.svg') }}"
              width="32px"
              class="icon"
            />
            <p>Vent: 97%</p>
            <!-- <p>Vent: {{ vent_battery_level }}%</p> -->
          </div>
        </div>
      </div>

      <div class="controls">
        <form action="/increment_desired_temperature" method="post">
          <button type="submit">
            <img
              src="{{ url_for('static', filename='chevron_up.svg') }}"
              width="64px"
              height="38px"
              class="icon"
            />
          </button>
        </form>
        <div class="temperatures">
          <h2 class="current_temperature">{{ current_temperature }}°</h2>
          {% if desired_temperature < current_temperature %}
          <p class="set_temperature cooling">
            Cooling to {{ desired_temperature }}°
          </p>
          {% elif desired_temperature == current_temperature %}
          <p class="set_temperature set_to">
            Set to {{ desired_temperature }}°
          </p>
          {% else %}
          <p class="set_temperature heating">
            Heating to {{ desired_temperature }}°
          </p>
          {% endif %}
        </div>

        <form action="/decrement_desired_temperature" method="post">
          <button type="submit">
            <img
              src="{{ url_for('static', filename='chevron_down.svg') }}"
              width="64px"
              height="38px"
              class="icon"
            />
          </button>
        </form>
      </div>

      <!-- DEBUG UI -->
      <!-- <div>
        <h2>Vent State</h2>
        <p>Battery Level: {{ vent_battery_level }}%</p>
        <p>Current Temperature: {{ current_temperature }} °C</p>
        <p>Servo Rotation: {{ servo_open_percent }}°</p>
      </div> -->
      <img
        src="{{ url_for('static', filename='ventech_wordmark.png') }}"
        alt="Ventech Logo"
        class="ventech_logo"
      />
    </div>
  </body>
</html>
